<!DOCTYPE html>
<!-- create the angular app w2MusicApp -->
<html data-ng-app="w2MusicApp">
<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <script src="js/controller.js"></script>

    <style type="text/css">
        td {
            border: solid 1px black;
        }
    </style>
</head>

<!-- The w2maCtrl is declared as the controller for the body section -->
<body data-ng-controller="w2maCtrl as w2ma">
  <table>
    <tr data-ng-repeat="artist in w2ma.artists | filter:musicFilter | orderBy:'name':doReverse">
      <td><span data-ng-bind="artist.name"></span></td>
      <td><span data-ng-bind="artist.album"></span></td>
      <td><span data-ng-bind="artist.genre"></span></td>
      <td><span data-ng-bind="artist.albumYear"></span></td>
    </tr>
  </table>

  <input type="checkbox" data-ng-model="doReverse"/> Reverse

  <select data-ng-model="musicFilter.album">
    <option value="">All Albums</option>
    <option data-ng-repeat="album in w2ma.albums" value={{album}}>{{album}}</option>
  </select>

  <select data-ng-model="musicFilter.genre">
    <option value="">All Genres</option>
    <option data-ng-repeat="genre in w2ma.genres" value={{genre}}>{{genre}}</option>
  </select>

  <select data-ng-model="musicFilter.albumYear">
    <option value="">All Years</option>
    <option data-ng-repeat="albumYear in w2ma.albumYears" value={{albumYear}}>{{albumYear}}</option>
  </select>

  <!--<p>Currently selected programme is {{ musicFilter }}</p>-->
</body>

</html>
